[user]
	name = Wojciech Pietrzok
	email = kosciak@kosciak.net
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	st = status
	ci = commit
	co = checkout
	sdiff = diff --staged
	unstage = restore --staged
[color]
	ui = auto
[log]
	date = iso
